<!DOCTYPE html>
<html>
  <head>
    <title>FamilyApp</title>
<div id="root">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <%= render 'shared/navigation' %>
  <body>
    <div id="main-container" class="container">
      <p class="notice"><%= notice %></p>
        <div class="row">
          <div id="content" class="col-xs-12">
            <%= yield %>
          </div>
        </div>
      </div>
</div>


  </body>
</html>
